body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #012d4b;
    color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
    color: #ffffff;
}

p {
    margin-bottom: 1rem;
}

a {
    color: #00a2ff;
    text-decoration: none;
}

a:hover {
    color: rgb(0, 255, 255);
    text-decoration: underline;
}

.cadastro-container {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    height: 100vh;
    color: #000000;
}
.cadastro-container form {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 200px;
    max-width: 90%;
    color: #000;
}